<% @rate = (@apr / 100) / 12 %>
<% @nper = @num_yrs * 12 %>
<% @mo_pay = (@rate * @principal) / (1 - ((1 + @rate)**-@nper)) %>
    
<h1>
  Payment Results
</h1>

<dl>
  <dt>
    APR
  </dt>
  <dd>
    <%= number_to_percentage(@apr, precision: 4) %>
  </dd>

  <dt>
    Number of years
  </dt>
  <dd>
    <%= @num_yrs %>
  </dd>

  <dt>
    Principal
  </dt>
  <dd>
    <%= number_to_currency(@principal, precision: 2) %>
  </dd>

  <dt>
    Payment
  </dt>
  <dd>
    <%= number_to_currency(@mo_pay, precision: 2) %>
  </dd>
</dl>

<a href="/payment/new">
  Calculate another payment
</a>
