<h1>
  Square Root Results
</h1>

<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%= @num %>
  </dd>

  <dt>
    Square Root
  </dt>
  <dd>
    <%= Math.sqrt(@num) %>
  </dd>
</dl>

<a href="/square_root/new">
  Calculate Another Square Root
</a>
